# Environment
.env
__pycache__/
*.pyc
.venv/
venv/


# Vector DB
database/vector_db/*
!database/vector_db/.gitkeep

# Notebooks
.ipynb_checkpoints/
notebooks/*.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

frontend/node_modules/